@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: black;
}
nav{
    width: 100%;
    height: 10vh;
    position: sticky;
}
.nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    color: white;
    font-size: 2rem;
    font-weight: bold;
}
.logo span{
    color: #077b32;
    text-shadow: 0 0 10px #077b32;
}
.hamburg,
.cancel{
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: white;
    display: none;
    font-size: clamp(2.5rem, 0.5rem + 5vw, 3rem);
}
.nav-container .links{
    display: flex;
}
.nav-container .links a{
    position: relative;
    font-size: 1.2rem;
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
}
.nav-container .links a::before{
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #077b32;
    transition: 0.2s linear;
}
.nav-container .links a:hover::before{
    width: 100%;
}
.nav-container .links a:hover{
    color: #077b32;
}
.dropdown {
    display: none;
    position: absolute;
    top: 60px;
    right: 10px;
    background: black;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
}

.dropdown.active {
    display: block;
}

.dropdown .links {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.dropdown .links a {
    padding: 10px;
    display: block;
    color: white;
    text-decoration: none;
}

.dropdown .links a:hover {
    background: #077b32;
}

.hamburg {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.cancel {
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .hamburg {
        display: block;
    }
    .links {
        display: none;
    }
}
section{
    width: 100%;
    height: 90vh;
}
.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main-container .image{
    width: 500px;
    height: 80vh;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0 50px #077b32;
}
.main-container .image img{
    width: 100%;
}
.main-container .image:hover{
    animation: animate 1.5s ease-in-out infinite;
}
@keyframes animate {
    0%{
        scale: 1;
    }
    50%{
        scale: 1.05;
    }
    100%{
        scale: 1;
    }
}
.main-container .content{
    color: white;
    width: 40%;
    min-height: 100px;
}
.content h1{
    font-size: clamp(1rem, 1rem + 5vw, 1.8rem);
}
.content h1 span{
    color: #077b32;
    text-shadow: 0  0 10px #077b32;
}
.content .typewriter{
    font-size: clamp(1rem, 1rem + 5vw, 2.5rem);
    font-weight: 600;
}
.content .typewriter-text{
    color: #077b32;
    text-shadow: 0 0 10px #077b32;
}
.content p{
    font-size: clamp(0.4rem , 0.2rem + 9vw, 1rem);
    margin: 10px 0;
}
.social-links i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid #077b32;
    border-radius: 50%;
    color: #077b32;
    margin: 5px 15px;
    font-size: 1.5rem;
    transition: 0.2s linear;
}
.social-links i:hover{
    scale: 1.3;
    color: black;
    background-color: #077b32;
    filter: drop-shadow(0 0 10px #077b32);
}
.content button{
    width: 50%;
    height: 6vh;
    margin: 30px;
    background-color: #077b32;
    color: white;
    border: none;
    outline: none;
    font-size: 120%;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.2s linear;
}
.content button:hover{
    scale: 1.1;
    color: #077b32;
    border: 2px solid #077b32;
    background-color: transparent;
    font-weight: 700;
    box-shadow: 0 0 40px #077b32;
}

.skill-card img {
    width: 50px;  /* Ajuste conforme necessário */
    height: auto;
}

/* Skills section */
#skills {
    padding: 50px 20px;
    text-align: center;
    background-color: black;
    width: 100%;
    margin-bottom: 50px; /* Adicionando margem inferior para separar as seções */
}

.skills-container h2 {
    font-size: 2rem;
    color: #077b32;
    margin-bottom: 30px;
}

.skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.skill-card {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 180px;
    max-width: 100%;
}

.skill-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.skill-card i {
    font-size: 3rem;
    color: #077b32;
    margin-bottom: 10px;
}

.skill-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
}

.skill-card p {
    font-size: 1rem;
    color: #bbb;
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

#contact {
    padding: 50px 20px;
    background-color: black;
    text-align: center;
}

.contact-container {
    max-width: 1200px;
    margin: 0 auto;
}

.contact-container h2 {
    font-size: 2.5rem;
    color: #077b32;
    margin-bottom: 30px;
}

.contact-details {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.contact-info,
.contact-form {
    width: 45%;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.contact-info h3,
.contact-form h3 {
    font-size: 2rem;
    color: #077b32;
    margin-bottom: 15px;
}

.contact-info ul {
    list-style: none;
}

.contact-info ul li {
    font-size: 1.1rem;
    margin: 10px 0;
    display: flex;
    align-items: center;
    color: white; /* Deixa a localização em branco */
}

.contact-info ul li i {
    margin-right: 10px;
    font-size: 1.5rem;
    color: #077b32;
}

.contact-info a {
    color: white;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

/* Estiliza os campos do formulário */
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid white; /* Borda branca para melhor visibilidade */
    border-radius: 5px;
    font-size: 1rem;
    background-color: transparent;
    color: white; /* Cor do texto branca */
}

/* Estiliza o placeholder para ficar mais visível */
.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: rgba(255, 255, 255, 0.7); /* Cor branca com transparência */
}

.contact-form button {
    background-color: #077b32;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #065c2f;
}


/* Trabalhos Section */
#trabalhos {
    padding: 50px 20px;
    text-align: center;
    background-color: black;
}

.trabalhos-container h2 {
    font-size: 2rem;
    color: #077b32;
    margin-bottom: 30px;
}

.trabalhos-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: start;
    max-width: 1200px;
    margin: 0 auto;
}

.trabalho-card {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.trabalho-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.trabalho-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #077b32;
}

.trabalho-card p {
    font-size: 1rem;
    color: white;
    margin-bottom: 15px;
}

.trabalho-card button {
    background-color: #077b32;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.trabalho-card button:hover {
    background-color: #065f26;
}

.academico {
    text-align: center;
    padding: 50px 20px;
    color: white;
}

.academico h1 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #077b32;
}

.academico-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.academico-box {
    background-color: #1a1a1a;
    border: 2px solid #077b32;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: #077b32;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.academico-box:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px #077b32;
}

.academico-box img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.academico-box .text {
    flex: 1;
    text-align: left;
}

.academico-box h2 {
    font-size: 1.3rem;
    margin: 0;
    color: #077b32;
}

.academico-box p {
    margin: 5px 0;
    font-size: 0.9rem;
    color: #ccc;
}

.academico-box .tag {
    display: inline-block;
    background: #077b32;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: bold;
}

/* Responsividade para telas menores */

/* Responsividade: para telas menores que 768px */
@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
        align-items: center;
    }

    .image {
        margin-bottom: 20px;
        flex: 1 1 100%;
    }

    .content {
        flex: 1 1 100%;
    }

    .content h1 {
        font-size: 2rem;
    }

    .content p {
        font-size: 1rem;
    }

    .social-links a {
        font-size: 1.8rem;
    }
}

/* Responsividade: para telas muito pequenas (como smartphones) */
@media (max-width: 480px) {
    .content h1 {
        font-size: 1.8rem;
    }

    .typewriter {
        font-size: 1.2rem;
    }

    .social-links a {
        font-size: 1.5rem;
    }
}
@media (max-width: 768px) {
    .academico-box {
        flex-direction: column;
        text-align: center;
        width: 90%;
        gap: 10px;
    }

    .academico-box img {
        width: 80px;
        height: 80px;
    }

    .academico-box .tag {
        font-size: 14px;
        padding: 8px 12px;
    }
}

@media (max-width: 480px) {
    .academico-box {
        width: 95%;
        padding: 15px;
    }

    .academico-box img {
        width: 60px;
        height: 60px;
    }

    .academico-box h2 {
        font-size: 16px;
    }

    .academico-box p {
        font-size: 14px;
    }

    .academico-box .tag {
        font-size: 12px;
        padding: 6px 10px;
    }
}


@media (max-width: 768px) {
    .contact-details {
        flex-direction: column;
        align-items: center;
    }

    .contact-info,
    .contact-form {
        width: 100%;
        margin-bottom: 20px;
    }
}

/* Responsividade */
@media (max-width: 768px) {
    .skills-container h2 {
        font-size: 1.5rem;
    }

    .skill-card {
        padding: 15px;
        min-height: 200px;
    }

    .skill-card i {
        font-size: 2.5rem;
    }

    .skill-card h3 {
        font-size: 1.3rem;
    }

    .skill-card p {
        font-size: 0.9rem;
    }

    /* Adicionando margem inferior para a separação das seções */
    #skills {
        margin-bottom: 30px;
    }
}


@media (max-width: 768px) {
    .edu-card {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .edu-card {
        width: 90%;
        padding: 10px;
    }

    .education-container h2 {
        font-size: 1.5rem;
    }

    .edu-card h3 {
        font-size: 1.2rem;
    }

    .edu-card p, .edu-card span {
        font-size: 0.8rem;
    }
}

@media (max-width:884px) {
    nav .logo{
        position: absolute;
        top: 16px;
        left: 15px;
        font-size: 1.5rem;
    }
    .main-container {
        display: flex;
        flex-direction: column;
    }
    .nav-container .links{
        display: none;
    }
    .hamburg,
    .cancel{
        display: block;
    }
    .main-container .content{
        width: 80%;
    }
    .social-links i{
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
    }
    .main-container .image{
        z-index: -1;
        width: 50%;
        height: 60%;
    }
}
@media (max-width:440px){
    .main-container .image{
        width: 50%;
        height: 60%;
        margin-bottom: 0px;
    }
    .main-container .content{
        width: 80%;
    }
    .main-container button{
        margin-top: 15px;
    }
}